<app-navbar></app-navbar>

<div class="col-md-12">
  <div class="row justify-content-center mt-3 mb-3">
    <h2 class="font-weight-bold">Cuestionarios</h2>
  </div>
  <hr />
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row ml-4 mr-4">
        <div id="cuestionarios" class="col-md-12 mt-3 mb-3">
          <app-cuestionario
            *ngFor="
              let cuestionario of cuestionarios;
              let idxCuestionario = index
            "
            [cuestionario]="cuestionario"
            [idxCuestionario]="idxCuestionario"
          ></app-cuestionario>
        </div>
      </div>
    </div>
  </div>
</div>
