.questions__image {
  background-image: url(../../assets/images/simone-hutsch-jwIBqRGLb6I-unsplash.jpg);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
