<div class="row no-gutters fade-animation">
  <div
    class="d-none d-md-block col-md-5 questions__image vh-100 position-sticky"
  ></div>

  <div class="col-12 col-md-7 mb-5">
    <a
      (click)="back()"
      class="position-relative back-btn pl-2 pr-3 py-1 d-inline-flex rounded"
    >
      <span class="material-icons"> keyboard_arrow_left</span
      ><span>Volver</span>
    </a>

    <div class="row no-gutters justify-content-center mt-4">
      <div class="col-10 col-md-8">
        <div>
          <h2 class="mb-4">Crear cuestionario</h2>
          <hr class="mb-4" />
          <div class="form-group">
            <label for="pregunta1" class="d-flex align-items-center"
              ><span class="material-icons">
                keyboard_arrow_right
              </span>
              <h4 class="mb-0">Pregunta 1</h4></label
            >
            <input
              id="pregunta1"
              type="text"
              class="form-control mb-2"
              placeholder="Escribe la pregunta aquí"
            />
            <label for="respuesta11" class="d-block">
              <h5>Respuestas</h5></label
            >
            <label for="respuesta11"
              ><small class="form-text text-muted">Respuesta 1</small></label
            >
            <div>
              <input
                id="respuesta11"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor11" class="mr-2" class="mr-2">Valor:</label>
              <select id="valor11">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta12"
              ><small class="form-text text-muted">Respuesta 2</small></label
            >
            <div>
              <input
                id="respuesta12"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor12" class="mr-2" class="mr-2">Valor:</label>
              <select id="valor12">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta13"
              ><small class="form-text text-muted">Respuesta 3</small></label
            >
            <div>
              <input
                id="respuesta13"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor13" class="mr-2" class="mr-2">Valor:</label>
              <select id="valor13">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <hr class="my-5" />

          <div class="form-group">
            <label for="pregunta2" class="d-flex align-items-center"
              ><span class="material-icons">
                keyboard_arrow_right
              </span>
              <h4 class="mb-0">Pregunta 2</h4></label
            >
            <input
              id="pregunta2"
              type="text"
              class="form-control mb-2"
              placeholder="Escribe la pregunta aquí"
            />
            <label for="respuesta21" class="d-block">
              <h5>Respuestas</h5></label
            >
            <label for="respuesta21"
              ><small class="form-text text-muted">Respuesta 1</small></label
            >
            <div>
              <input
                id="respuesta21"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor21" class="mr-2" class="mr-2">Valor:</label>
              <select id="valor21">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta22"
              ><small class="form-text text-muted">Respuesta 2</small></label
            >
            <div>
              <input
                id="respuesta22"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor22" class="mr-2" class="mr-2">Valor:</label>
              <select id="valor22">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta23"
              ><small class="form-text text-muted">Respuesta 3</small></label
            >
            <div>
              <input
                id="respuesta23"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor23" class="mr-2">Valor:</label>
              <select id="valor23">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <hr class="my-5" />

          <div class="form-group">
            <label for="pregunta3" class="d-flex align-items-center"
              ><span class="material-icons">
                keyboard_arrow_right
              </span>
              <h4 class="mb-0">Pregunta 3</h4></label
            >
            <input
              id="pregunta3"
              type="text"
              class="form-control mb-2"
              placeholder="Escribe la pregunta aquí"
            />
            <label for="respuesta31" class="d-block">
              <h5>Respuestas</h5></label
            >
            <label for="respuesta31"
              ><small class="form-text text-muted">Respuesta 1</small></label
            >
            <div>
              <input
                id="respuesta31"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor31" class="mr-2">Valor:</label>
              <select id="valor31">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta32"
              ><small class="form-text text-muted">Respuesta 2</small></label
            >
            <div>
              <input
                id="respuesta32"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor32" class="mr-2">Valor:</label>
              <select id="valor32">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta33"
              ><small class="form-text text-muted">Respuesta 3</small></label
            >
            <div>
              <input
                id="respuesta33"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor33" class="mr-2">Valor:</label>
              <select id="valor33">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <hr class="my-5" />

          <div class="form-group">
            <label for="pregunta4" class="d-flex align-items-center"
              ><span class="material-icons">
                keyboard_arrow_right
              </span>
              <h4 class="mb-0">Pregunta 4</h4></label
            >
            <input
              id="pregunta4"
              type="text"
              class="form-control mb-2"
              placeholder="Escribe la pregunta aquí"
            />
            <label for="respuesta41" class="d-block">
              <h5>Respuestas</h5></label
            >
            <label for="respuesta41"
              ><small class="form-text text-muted">Respuesta 1</small></label
            >
            <div>
              <input
                id="respuesta41"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor41" class="mr-2">Valor:</label>
              <select id="valor41">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta42"
              ><small class="form-text text-muted">Respuesta 2</small></label
            >
            <div>
              <input
                id="respuesta42"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor42" class="mr-2">Valor:</label>
              <select id="valor42">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta43"
              ><small class="form-text text-muted">Respuesta 3</small></label
            >
            <div>
              <input
                id="respuesta43"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor43" class="mr-2">Valor:</label>
              <select id="valor43">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <hr class="my-5" />

          <div class="form-group">
            <label for="pregunta5" class="d-flex align-items-center"
              ><span class="material-icons">
                keyboard_arrow_right
              </span>
              <h4 class="mb-0">Pregunta 5</h4></label
            >

            <input
              id="pregunta5"
              type="text"
              class="form-control mb-2"
              placeholder="Escribe la pregunta aquí"
            />
            <label for="respuesta51" class="d-block">
              <h5>Respuestas</h5></label
            >
            <label for="respuesta51"
              ><small class="form-text text-muted">Respuesta 1</small></label
            >
            <div>
              <input
                id="respuesta51"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor51" class="mr-2">Valor:</label>
              <select id="valor51">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta52"
              ><small class="form-text text-muted">Respuesta 2</small></label
            >
            <div>
              <input
                id="respuesta52"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor52" class="mr-2">Valor:</label>
              <select id="valor52">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="respuesta53"
              ><small class="form-text text-muted">Respuesta 3</small></label
            >
            <div>
              <input
                id="respuesta53"
                type="text"
                class="form-control mb-2"
                placeholder="Escribe la respuesta aquí"
              />
              <label for="valor53" class="mr-2">Valor:</label>
              <select id="valor53">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center my-5">
          <button
            type="submit"
            class="btn btn-outline-primary d-inline-block"
            (click)="crearCuestionario()"
          >
            <div class="d-flex align-items-center">
              <i class="material-icons-outlined text-primary mr-2">send</i>
              Crear cuestionario
            </div>
          </button>
          <div
            *ngIf=""
            id="spinner"
            class="d-inline-block spinner-border text-primary ml-4"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
