<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3 mb-3">
  <a class="navbar-brand" href="#">
    <img
      src="assets/images/icono.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Prueba de operadores
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link button-icon" href="operadores.html"
          ><i class="material-icons-outlined text-primary mr-2">group</i
          >Operadores</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button-icon" href="perfil.html"
          ><i class="material-icons-outlined text-primary mr-2">person</i
          >Perfil</a
        >
      </li>
      <li class="nav-item">
        <span
          id="nroNotificaciones"
          class="badge badge-pill badge-primary"
          style="float: right; margin-bottom: -10px;"
          >0</span
        >
        <a id="btnNotificaciones" href="#" class="nav-link button-icon"
          ><i class="material-icons-outlined text-primary mr-2">notifications</i
          >Notificaciones<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>

    <button
      id="btnSalir"
      class="btn btn-outline-dark my-2 my-sm-0"
      type="submit"
      (click)="salir()"
    >
      <div class="button-icon">
        <i class="material-icons-outlined text-danger mr-2">exit_to_app</i>Salir
      </div>
    </button>
  </div>
</nav>
