<div class="row justify-content-center">
  <h4 class="font-weight-bold">
    Cuestionario {{ idxCuestionario + 1 }}:
    <span
      [ngClass]="{
        'text-success': cuestionario.terminada,
        'text-danger': !cuestionario.terminada
      }"
      >{{ cuestionario.terminada ? "Respondido" : "No respondido" }}</span
    >
  </h4>
</div>
<app-pregunta
  *ngFor="let pregunta of cuestionario.preguntas; let idxPregunta = index"
  [pregunta]="pregunta"
  [idxPregunta]="idxPregunta"
  (respuestaSeleccionada)="seleccionRespuesta($event)"
></app-pregunta>

<div class="row justify-content-center mb-4">
  <button
    class="btn btn-outline-dark"
    (click)="enviarRespuestas(cuestionario.docId)"
  >
    <div class="button-icon">
      <span><i class="material-icons-outlined text-primary mr-2">send</i></span
      >Enviar respuestas
    </div>
  </button>
</div>
