<div class="row no-gutters">
  <div class="left-section col-md-5 col-lg-6 left-to-right-animation"></div>

  <div
    class="d-flex align-items-center justify-content-center vh-100 right-section col-md-7 col-lg-6 fade-animation"
  >
    <div class="col-10 col-md-11 p-4 py-5 rounded bg-white">
      <div class="col-md-12">
        <div class="row justify-content-center mb-4">
          <h1>Inicio de sesión</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div>
              <div class="form-group button-icon">
                <label
                  for="correo"
                  class="material-icons-outlined text-primary mb-0 mr-2"
                  >person</label
                >
                <input
                  [(ngModel)]="correo"
                  id="correo"
                  type="email"
                  placeholder="Correo"
                  class="form-control"
                />
              </div>
              <div class="form-group button-icon">
                <label
                  for="clave"
                  class="material-icons-outlined text-primary mb-0 mr-2"
                  >lock</label
                >
                <input
                  [(ngModel)]="clave"
                  id="clave"
                  type="password"
                  placeholder="Contraseña"
                  class="form-control"
                />
              </div>
              <div
                style="float: right;"
                class="form-group d-flex justify-content-between"
              >
                <a href="">¿Olvidaste tu contraseña?</a>
              </div>
              <button
                (click)="ingresar()"
                class="btn btn-outline-dark btn-lg btn-block mb-4"
              >
                <div class="button-icon">
                  <span class="material-icons-outlined text-primary mr-2"
                    >forward</span
                  >
                  Ingresar
                </div>
              </button>
              <button
                id="btnRegistrar"
                routerLink="/registro"
                class="btn btn-outline-dark btn-lg btn-block"
              >
                <div class="button-icon">
                  <span class="material-icons-outlined text-primary mr-2"
                    >person</span
                  >
                  Registrar
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
