.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.right-section,
left-section {
  min-height: 30em;
}

.left-section {
  background-image: url(../../assets/images/bienvenida.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .right-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/images/bienvenida.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
