.signup__image {
  background-image: url(../../assets/images/claudio-hirschberger-VI1UCQe4U4A-unsplash.jpg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  right: 0;
}
