<div class="row no-gutters">
  <div class="col-12 col-md-7 mb-5">
    <a
      routerLink="/"
      class="position-relative back-btn pl-2 pr-3 py-1 d-inline-flex rounded"
    >
      <span class="material-icons"> keyboard_arrow_left </span
      ><span>Volver</span>
    </a>

    <div class="row no-gutters justify-content-center mt-4">
      <div class="col-10 col-md-8">
        <div>
          <h2 class="mb-4">Registrar Representante</h2>
          <div class="form-group">
            <label for="primerNombre"
              >Primer nombre del representante legal</label
            >
            <input
              [(ngModel)]="primerNombre"
              id="primerNombre"
              type="text"
              class="form-control"
              placeholder="Escribe el primer nombre"
            />
          </div>
          <div class="form-group">
            <label for="apellido">Segundo nombre del representante legal</label>
            <input
              [(ngModel)]="apellido"
              id="apellido"
              type="text"
              class="form-control"
              placeholder="Escribe el segundo nombre"
            />
          </div>
          <div class="form-group">
            <label for="cedulaNacional">Tipo de documento</label><br />
            <input id="cedulaNacional" type="radio" name="tipo" value="C.C." />
            <label class="ml-2" for="cedulaNacional">C.C.</label><br />
            <input
              id="cedulaExtranjera"
              type="radio"
              name="tipo"
              value="C.E."
            />
            <label class="ml-2" for="cedulaExtranjera">C.E.</label><br />

            <label for="numeroDocumento">Número del documento</label>
            <input
              [(ngModel)]="numeroDocumento"
              id="numeroDocumento"
              type="text"
              class="form-control"
              placeholder="Escribe el número del coumento"
            />
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono del representante legal</label>
            <input
              [(ngModel)]="telefono"
              id="telefono"
              type="text"
              class="form-control"
              placeholder="Escribe el telefono"
            />
          </div>
          <div class="form-group">
            <label for="nombreEmpresa">Nombre de la empresa</label>
            <input
              [(ngModel)]="nombreEmpresa"
              id="nombreEmpresa"
              type="text"
              class="form-control"
              placeholder="Escribe el nombre de la empresa"
            />
          </div>
          <div class="form-group">
            <label for="imagen">Imagen de la empresa</label>
            <input
              #imagenInput
              id="imagen"
              type="file"
              accept="image/*"
              class="form-control-file"
              (change)="obtenerImg(imagenInput)"
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input
              [(ngModel)]="correo"
              id="correo"
              type="email"
              class="form-control"
              placeholder="Escribe tu correo electrónico"
            />
          </div>
          <div class="form-group">
            <label for="clave">Contraseña</label>
            <input
              [(ngModel)]="clave"
              type="password"
              class="form-control"
              minlength="6"
              id="clave"
              placeholder="Escribe tu contraseña"
            />
            <small class="form-text text-muted"
              >La clave debe contener mínimo 6 caracteres, debe contener por lo
              menos una letra, un número y un caracter especial.</small
            >
          </div>

          <button
            id="btnRegistrar"
            type="submit"
            class="btn btn-outline-primary"
            (click)="registrar()"
          >
            Registrar
          </button>
          <div
            *ngIf="mostrarSpinner"
            style="margin-left: 30px;"
            id="spinner"
            class="spinner-border text-primary"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-none d-md-block col-md-5 signup__image vh-100 position-fixed"
  ></div>
</div>
