.signup__image {
  background-image: url(../../assets/images/victor-garcia-UoIiVYka3VY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
}
