<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/images/icono.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Registro
    </a>
  </nav>

  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label>Primer nombre del representante legal</label>
            <input
              id="primerNombre"
              type="text"
              class="form-control"
              placeholder="Escribe el primer nombre"
            />
          </div>
          <div class="form-group">
            <label>Segundo nombre del representante legal</label>
            <input
              id="apellido"
              type="text"
              class="form-control"
              placeholder="Escribe el segundo nombre"
            />
          </div>
          <div class="form-group">
            <label>Tipo de documento</label><br />
            <input id="cedulaNacional" type="radio" name="tipo" value="C.C." />
            <label>C.C.</label><br />
            <input
              id="cedulaExtranjera"
              type="radio"
              name="tipo"
              value="C.E."
            />
            <label>C.E.</label><br />

            <label>Número del documento</label>
            <input
              id="numeroDocumento"
              type="text"
              class="form-control"
              placeholder="Escribe el número del coumento"
            />
          </div>
          <div class="form-group">
            <label>Teléfono del representante legal</label>
            <input
              id="telefono"
              type="text"
              class="form-control"
              placeholder="Escribe el telefono"
            />
          </div>
          <div class="form-group">
            <label>Nombre de la empresa</label>
            <input
              id="nombreEmpresa"
              type="text"
              class="form-control"
              placeholder="Escribe el nombre de la empresa"
            />
          </div>
          <div class="form-group">
            <label>Imagen de la empresa</label>
            <input id="imagen" type="file" class="form-control-file" />
          </div>
          <div class="form-group">
            <label>Correo electrónico</label>
            <input
              id="correo"
              type="email"
              class="form-control"
              placeholder="Escribe tu correo electrónico"
            />
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input
              type="password"
              class="form-control"
              minlength="6"
              id="clave"
              placeholder="Escribe tu contraseña"
            />
            <small class="form-text text-muted"
              >La clave debe contener mínimo 6 caracteres, debe contener por lo
              menos una letra y por lo menos un número.</small
            >
          </div>

          <button id="btnRegistrar" type="submit" class="btn btn-danger">
            Registrar
          </button>
          <div
            style="margin-left: 30px;"
            id="spinner"
            class="spinner-border text-danger invisible"
          ></div>
        </form>
      </div>
    </div>
  </div>
</div>
