<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/images/icono.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Registro
    </a>
  </nav>

  <div class="col-md-12 my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <div class="form-group">
            <label>Primer nombre del representante legal</label>
            <input
              [(ngModel)]="primerNombre"
              id="primerNombre"
              type="text"
              class="form-control"
              placeholder="Escribe el primer nombre"
            />
          </div>
          <div class="form-group">
            <label>Segundo nombre del representante legal</label>
            <input
              [(ngModel)]="apellido"
              id="apellido"
              type="text"
              class="form-control"
              placeholder="Escribe el segundo nombre"
            />
          </div>
          <div class="form-group">
            <label>Tipo de documento</label><br />
            <input id="cedulaNacional" type="radio" name="tipo" value="C.C." />
            <label class="ml-2">C.C.</label><br />
            <input
              id="cedulaExtranjera"
              type="radio"
              name="tipo"
              value="C.E."
            />
            <label class="ml-2">C.E.</label><br />

            <label>Número del documento</label>
            <input
              [(ngModel)]="numeroDocumento"
              id="numeroDocumento"
              type="text"
              class="form-control"
              placeholder="Escribe el número del coumento"
            />
          </div>
          <div class="form-group">
            <label>Teléfono del representante legal</label>
            <input
              [(ngModel)]="telefono"
              id="telefono"
              type="text"
              class="form-control"
              placeholder="Escribe el telefono"
            />
          </div>
          <div class="form-group">
            <label>Nombre de la empresa</label>
            <input
              [(ngModel)]="nombreEmpresa"
              id="nombreEmpresa"
              type="text"
              class="form-control"
              placeholder="Escribe el nombre de la empresa"
            />
          </div>
          <div class="form-group">
            <label>Imagen de la empresa</label>
            <input
              #imagenInput
              id="imagen"
              type="file"
              accept="image/*"
              class="form-control-file"
              (change)="obtenerImg(imagenInput)"
            />
          </div>
          <div class="form-group">
            <label>Correo electrónico</label>
            <input
              [(ngModel)]="correo"
              id="correo"
              type="email"
              class="form-control"
              placeholder="Escribe tu correo electrónico"
            />
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input
              [(ngModel)]="clave"
              type="password"
              class="form-control"
              minlength="6"
              id="clave"
              placeholder="Escribe tu contraseña"
            />
            <small class="form-text text-muted"
              >La clave debe contener mínimo 6 caracteres, debe contener por lo
              menos una letra, un número y un caracter especial.</small
            >
          </div>

          <button
            id="btnRegistrar"
            type="submit"
            class="btn btn-outline-primary"
            (click)="registrar()"
          >
            Registrar
          </button>
          <div
            *ngIf="mostrarSpinner"
            style="margin-left: 30px;"
            id="spinner"
            class="spinner-border text-primary"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
