.operator__image {
  background-image: url(../../assets/images/man-in-white-cap-and-blue-shirt-reaching-a-yellow-rope-1325725.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
