<app-navbar></app-navbar>
<div class="container-fluid fade-animation-faster">
  <div class="container gmd-3 rounded pt-3 pb-3 mb-3">
    <div *ngIf="!authService.userInfo" class="col-md-12">
      <div class="row justify-content-center">
        <div class="spinner-border text-primary"></div>
      </div>
    </div>

    <div *ngIf="authService.userInfo" class="col-md-12">
      <div class="row justify-content-center">
        <h3>Información general</h3>
      </div>
      <hr />
      <div class="row justify-content-center mt-3 mb-3">
        <img
          id="imagen"
          style="height: 200px; width: 200px;"
          src="{{ usersService.imagenPerfil }}"
          class="rounded-circle img-fluid img-thumbnail border-danger"
        />
      </div>
      <div id="nroEmpleados" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Número de operadores: </span>
          {{ usersService.nroOperadores }}
        </h5>
      </div>
      <div id="nombreEmpresa" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Empresa: </span>
          {{ authService.userInfo.nombreEmpresa }}
        </h5>
      </div>
      <div id="representante" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Representante: </span>
          {{ authService.userInfo.primerNombre }}
          {{ authService.userInfo.apellido }}
        </h5>
      </div>
      <div class="row justify-content-center mb-3">
        <h5><span style="font-weight: bold;">Cargo: </span>Administrador</h5>
      </div>
      <div id="correo" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Correo: </span
          >{{ authService.userInfo.correo }}
        </h5>
      </div>
      <div id="telefono" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Teléfono: </span
          >{{ authService.userInfo.telefono }}
        </h5>
      </div>
      <div id="documento" class="row justify-content-center mb-3">
        <h5>
          <span style="font-weight: bold;">Documento: </span
          >{{ authService.userInfo.numeroDocumento }}
        </h5>
      </div>
    </div>
  </div>
</div>
