<div class="container-fluid">
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label>Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              placeholder="Escribe tu correo electrónico"
            />
          </div>
          <small class="form-text text-muted"
            >Recibiras un correo, en tu cuenta personal, el cual contiene un
            enlace donde podras cambiar tu contraseña.</small
          >

          <button id="btnEnviar" type="submit" class="btn btn-primary">
            Enviar correo
          </button>

          <div
            style="margin-left: 30px;"
            id="spinner"
            class="spinner-border text-danger invisible"
          ></div>
        </form>
      </div>
    </div>
  </div>
</div>
