<div class="row no-gutters">
  <div
    class="col-12 col-md-7 mb-5 fade-animation vh-100 d-flex justify-content-center align-items-center"
  >
    <a
      (click)="back()"
      class="position-absolute back-btn pl-2 pr-3 py-1 d-inline-flex rounded"
    >
      <span class="material-icons"> keyboard_arrow_left </span
      ><span>Volver</span>
    </a>

    <div class="row no-gutters justify-content-center mt-4">
      <div class="col-10 col-md-8">
        <form>
          <h2 class="mb-4">Cambiar contraseña</h2>
          <hr />
          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              placeholder="Escribe tu correo electrónico"
            />
          </div>
          <small class="form-text text-muted mb-4"
            >Recibiras un correo, en tu cuenta personal, el cual contiene un
            enlace donde podras cambiar tu contraseña.</small
          >

          <div class="d-flex align-items-center">
            <button id="btnEnviar" type="submit" class="btn btn-primary">
              Enviar correo
            </button>

            <div
              style="margin-left: 30px;"
              id="spinner"
              class="spinner-border text-primary"
            ></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="d-none d-md-block col-md-5 password__image vh-100 position-fixed right-to-left-animation"
  ></div>
</div>
