.password__image {
  background-image: url(../../assets/images/simone-hutsch-HOOE5SDf2Xk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
}
