.edit__image {
  background-image: url(../../assets/images/spencer-davis-QTKwYmMumfk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
}
