<div class="row no-gutters">
  <div class="col-12 col-md-7 mb-5 fade-animation">
    <a
      (click)="back()"
      class="position-relative back-btn pl-2 pr-3 py-1 d-inline-flex rounded"
    >
      <span class="material-icons"> keyboard_arrow_left </span
      ><span>Volver</span>
    </a>

    <div class="row no-gutters justify-content-center mt-4 mb-5">
      <div class="col-10 col-md-8">
        <div>
          <h2 class="mb-4">Editar Operador</h2>
          <hr />
          <div class="form-group">
            <label for="primerNombre">Nombre</label>
            <input
              [(ngModel)]="primerNombre"
              id="primerNombre"
              type="text"
              class="form-control"
              placeholder="Escribe nombre"
            />
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input
              [(ngModel)]="apellido"
              id="apellido"
              type="text"
              class="form-control"
              placeholder="Escribe apellido"
            />
          </div>

          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input
              [(ngModel)]="direccion"
              id="direccion"
              type="text"
              class="form-control"
              placeholder="Escribe nueva dirección"
            />
          </div>

          <div class="form-group">
            <small class="form-text text-muted mb-2"
              >Se enviará un correo electrónico para el cambio de
              contraseña</small
            >
            <button
              id="btnCambiarClave"
              class="btn btn-dark"
              routerLink="/password"
            >
              Cambiar contraseña
            </button>
          </div>

          <div class="d-flex align-items-center mt-5">
            <button
              (click)="actualizarOperador()"
              type="submit"
              class="btn btn-outline-primary"
            >
              Actualizar
            </button>
            <div
              *ngIf="mostrarSpinner"
              style="margin-left: 30px;"
              id="spinner"
              class="spinner-border text-primary"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-none d-md-block col-md-5 edit__image vh-100 position-fixed right-to-left-animation"
  ></div>
</div>
