/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Apercu";
  src: url("/assets/fonts/Apercu.otf");
}

body {
  font-family: "Apercu";
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  top: 1em;
  left: 1em;
  text-decoration: none;
  color: inherit;
  border: 1px solid gainsboro;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  text-decoration: none;
  background-color: gainsboro;
}

/* from sombra.css */
.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
