/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Apercu";
  src: url("/assets/fonts/Apercu.otf");
}

body {
  font-family: "Apercu";
}

.nav-item {
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-item:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  top: 1em;
  left: 1em;
  text-decoration: none;
  color: inherit;
  border: 1px solid gainsboro;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  text-decoration: none;
  background-color: gainsboro;
  cursor: pointer;
}

/* animations */

.left-to-right-animation {
  animation: from-left 1s ease-in-out;
}

.right-to-left-animation {
  animation: from-right 1s ease-in-out;
}

.fade-animation {
  animation: fade 1s ease-in-out;
}

.fade-animation-faster {
  animation: fade 0.5s ease-in-out;
}

.navbar-animation {
  animation: navbar 0.5s ease;
}

@keyframes from-left {
  from {
    opacity: 0;
    left: -100px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes from-right {
  from {
    opacity: 0;
    right: -100px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes navbar {
  from {
    opacity: 0;
    top: -30px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
