<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row justify-content-between ml-3 mr-3 mb-3" id="content">
    <div class="gmd-3 col-md-12 pl-4 mb-3 border rounded altura pt-2 pb-3">
      <button
        class="btn btn-outline-dark mt-2 mb-2"
        routerLink="/registroOperador"
      >
        <div class="button-icon">
          <i class="material-icons text-primary mr-2">add_circle_outline</i
          >Registrar operador
        </div>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="txtBusqueda"
            aria-describedby="busqueda"
            placeholder="Nombre del operador"
          />
        </div>
        <div class="class col-md-3">
          <button id="btnBuscar" class="btn btn-outline-dark btn-block">
            <div class="button-icon">
              <i class="material-icons text-primary mr-2">search</i>
              Buscar
            </div>
          </button>
        </div>
      </div>
      <div id="operadores" class="row">
        <div
          *ngFor="
            let operador of usersService.operadores | async;
            let i = index
          "
          class="col-md-3 mb-2 mt-2"
        >
          <div class="card gmd-3">
            <img
              style="object-fit: cover;"
              height="256"
              width="256"
              class="card-img-top"
              [src]="usersService.imagenes[i]"
              alt="Card image cap"
            />
            <div class="card-body">
              <h6 class="card-title">
                <span style="font-weight: bold;">Nombre:</span>
                {{ operador.primerNombre }} {{ operador.apellido }}
              </h6>
              <h6 class="card-title">
                <span style="font-weight: bold;">Correo:</span>
                {{ operador.correo }}
              </h6>
              <h6 class="card-title">
                <span style="font-weight: bold;">Dirección:</span>
                {{ operador.direccion }}
              </h6>
              <div class="d-none">
                <input id="editar-id" />
              </div>
              <button
                class="btn btn-outline-dark btn-block mt-3"
                (click)="crearCuestionario(operador.id)"
              >
                <div class="button-icon">
                  <i class="material-icons text-success mr-2"
                    >add_circle_outline</i
                  >Crear cuestionario
                </div>
              </button>
              <button
                class="btn btn-outline-dark btn-block"
                (click)="verCuestionarios(operador.id)"
              >
                <div class="button-icon">
                  <i class="material-icons text-primary mr-2">menu_book</i>Ver
                  cuestionarios
                </div>
              </button>
              <button class="btn btn-outline-dark btn-block">
                <div class="button-icon">
                  <span
                    ><i class="material-icons text-warning mr-2">edit</i></span
                  >Editar perfil
                </div>
              </button>
              <button
                class="btn btn-outline-dark btn-block"
                (click)="cambiarHabilitado(operador.id)"
              >
                <div class="button-icon">
                  <i class="material-icons mr-2 text-${clase}">clear</i>Cambiar
                  habilitado
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
