<div class="row justify-content-center mb-3">
  <div class="card" style="width: 40rem;">
    <div class="card-header">
      <span class="font-weight-bold">{{ pregunta.texto }}</span>
    </div>
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item d-flex align-items-center"
        [ngClass]="{
          'text-success': pregunta.respuesta1.seleccionada
        }"
        (click)="seleccionRespuesta(1)"
      >
        <span class="mr-3">{{ pregunta.respuesta1.texto }}</span>
        <span
          *ngIf="pregunta.respuesta1.seleccionada && seleccionada"
          class="material-icons"
        >
          done
        </span>
      </li>
      <li
        class="list-group-item d-flex align-items-center"
        [ngClass]="{
          'text-success': pregunta.respuesta2.seleccionada
        }"
        (click)="seleccionRespuesta(2)"
      >
        <span class="mr-3">{{ pregunta.respuesta2.texto }}</span>
        <span
          *ngIf="pregunta.respuesta2.seleccionada && seleccionada"
          class="material-icons"
        >
          done
        </span>
      </li>
      <li
        class="list-group-item d-flex align-items-center"
        [ngClass]="{
          'text-success': pregunta.respuesta3.seleccionada
        }"
        (click)="seleccionRespuesta(3)"
      >
        <span class="mr-3">{{ pregunta.respuesta3.texto }}</span>
        <span
          *ngIf="pregunta.respuesta3.seleccionada && seleccionada"
          class="material-icons"
        >
          done
        </span>
      </li>
    </ul>
  </div>
</div>
